/* styles.css */

/* 스타일 설정 */

/* PC 또는 태블릿, 대형 화면용 스타일 */
@media (min-width: 769px) {
  #box .heading {
      font-size: calc(16px + 0.5vw);
  }
}

/* 모바일 기기, 소형 화면용 스타일 */
@media (max-width: 768px) {
  #box .heading {
      font-size: calc(16px + 1vw);
  }
}

@font-face {
  font-family: "Wix Madefor Display ExtraBold";
  src: url("https://db.onlinewebfonts.com/t/bc58872ab4e612eb776153ccd3baadba.eot");
  src: url("https://db.onlinewebfonts.com/t/bc58872ab4e612eb776153ccd3baadba.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/bc58872ab4e612eb776153ccd3baadba.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/bc58872ab4e612eb776153ccd3baadba.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/bc58872ab4e612eb776153ccd3baadba.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/bc58872ab4e612eb776153ccd3baadba.svg#Wix Madefor Display ExtraBold")format("svg");
}

.logo img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

body {
  -webkit-text-size-adjust : auto;  /* 크롬, 사파리, 오페라(신) */
  -ms-text-size-adjust : auto;  /* IE */
  -moz-text-size-adjust : auto;  /* 파이어폭스 */
  -o-text-size-adjust : auto;  /* 오페라(구)*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Wix Madefor Display ExtraBold", sans-serif;
  background-color: #fffbee;
  color: #403C29;
}

/* 박스 스타일 */
#box {
  width: 480px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  margin: auto; /*타이틀과 호버박스 간격*/
  transition: all 0.3s cubic-bezier(0.42, 0.0, 0.58, 1.0);
  max-width: 100%; /* 최대 너비 지정 */
  background-color: #fffbee;
  color: #403C29;
  font-family: "Wix Madefor Display ExtraBold", sans-serif;
}

/* 마우스 오버 시 박스 스타일 */
#box:hover {
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translateY(-10px);
}

/* 모든 요소에 패딩 적용 */
#box * {
  padding: 10px; /* 전체 간격 조정 */

}

/* 제목 스타일 */
#box .heading {
  font-size: 1rem; /* 수정: 호버박스 그림위에 글씨 사이즈 1회수량 최대수량 */
  line-height: 0px; /* 수정: 간격을 원하는 대로 조정해주세요 */
  margin-bottom: auto; /* 수정: 간격을 원하는 대로 조정해주세요 */
  font-weight: bold; /* 글씨를 두껍게 설정 */
}

/* 이미지 스타일 */
#box .img {
  display: block;
  width: 460px;
  padding: 0;
  margin-bottom: auto; /* 호버 이미지와 밑에 Enter NFT quantity: 간격 */
}

/* 박스 타이틀 스타일 */
#box .box-title {
  font-size: 28px; /* 수정 변화없음 */
  margin-bottom: 1px;
  text-align: center;
  margin-bottom: 30px;
}

/* 데이터 컨테이너 스타일 */
#box .data {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.85rem; /* 호버 그림밑 글씨 연결후 글씨 18px 글씨 짤림*/
  color: #403C29;
  margin-bottom: -5px; /* 호버 그림밑 글씨 (연결후 글씨 간격 조정)  */
  position: relative; /* 수량 스핀관련 */
  font-family: "Wix Madefor Display ExtraBold", sans-serif;
}

/* 데이터 스타일 */
#box .data span {
  padding: 0;
}

#quantityInput::-webkit-inner-spin-button,
#quantityInput::-webkit-outer-spin-button {
  opacity: 1;
  pointer-events: auto;
}

#quantityInput::-moz-number-spin-box {
  opacity: 1;
  pointer-events: auto;
}

#quantityInput::-ms-clear {
  display: none;
}


#quantityInput {
  width: 40px; /* 원하는 너비로 조절하세요 */
  height: 8px; /* 원하는 높이로 조절하세요 */
  border: none; /* 연한 테두리 색상으로 설정 */
  outline: none; /* 연한 테두리 색상으로 설정 */
  margin-left: auto; /* 수량 박스 왼쪽 여백 조정 */
}

#quantityInput:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid rgba(0, 0, 0, 0.2); /* 연한 테두리 색상으로 설정 */
  border-radius: 6px; /* 원하는 둥근 모서리 반지름 값 설정 */
}

/* 날짜 데이터 스타일 */
#box .data .date {
  border: auto;
  margin-top: -10px;/* Enter NFT quantity: 위의 텍스트와의 간격 */
}

/* 사용자 ID 스타일 */
#box .data .user-id {
  font-size: 1rem;
  color: #403C29;
  font-weight: 600;
  font-family: "Wix Madefor Display ExtraBold", sans-serif;
}

/* 텍스트 내용 스타일 */
#box .texts {
  font-size: 30px; /* 변화없음 */
  line-height: auto; /* 변화없음 */
  margin-bottom: 5px;
  font-family: "Wix Madefor Display ExtraBold", sans-serif;
}

/* 버튼 스타일 */
button {
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: #7000d8;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none; /* 테두리 제거 */
  font-family: "Wix Madefor Display ExtraBold", sans-serif;
}

/* 이미지 스타일 */
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-bottom: auto; /* 수정 변화없음 */
}

/* 지갑 정보 스타일 */
#walletInfo {
  display: none;
  margin-top: -30px; /* 지갑연결후 내부 글씨와 위에 이미지 간격 */
  font-family: "Wix Madefor Display ExtraBold", sans-serif;
}
